.Estimation {
  &-body {
    padding-left: 20px;
    height: 85vh;

    &-header {
      display: table;
      width: 100%;
    }

    &-cards {
      padding-top: 40px;

      button {
        margin: 0;
      }
    }  

    h3 {
      width: 40%;
      display: table-cell;
    }

    button {
      margin: 0 10px;
      display: table-cell;
    }
  }

  &-input {
    width: 40%;

    input, button {
      margin: 10px;
    }
  }
}