.Estimation {
  &-body {
    padding-left: 10px;
    display: table;
    width: 100%;

    h3 {
      width: 20%;
      display: table-cell;
    }

    button {
      margin: 0 10px;
      display: table-cell;
    }
  }

  &-input {
    width: 40%;

    input, button {
      margin: 10px;
    }
  }

  &-cards {
    padding-top: 40px;
  }

  &-avatar {
    display: flex;
    height: 40px;
    align-items: center;

    h2 {
      padding-left: 10px;
    }
  }
}