.Estimation {
  &-body {
    padding-left: 20px;
  }

  &-input {
    width: 40%;

    input, button {
      margin: 10px;
    }
  }

  &-cards {
    padding-top: 40px;
  }

  &-avatar {
    display: flex;
    height: 40px;
    align-items: center;

    h2 {
      padding-left: 10px;
    }
  }
}